
body {
  font-family: Arial, sans-serif;
  background-image: url('../image/hojas.jpg');
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.carousel {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  background-image: url('../image/hojas.jpg');
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}


.carousel-question {
  display: none;
}
.carousel-question.active {
  display: block;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}
.btn_form{
  margin-left: -40px;
  width: 120px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
.button-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
input[type="number"],
select,
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}