*{
  font-family: montserrat, sans-serif;
}
.header{
  height: auto;
  width: 100%;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  align-items: center;
  padding: 20px 20px 20px 20px;
  z-index: 20;

}
.logo img{
  width: 20%;
}
@media  (max-width:768px){
  .logo img{
      width: 100%;
      padding: 20px 20px 20px 20px;
      text-align: center;
  }
}
.btn-primary{
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
}
.btn_reg{
  border: 2px solid #1b5e20;
  color: #1b5e20;
  background-color: #fff;
  text-decoration: none;
}
.btn_reg:hover{
  border: 2px solid #1b5e20;
  background-color: #1b5e20;
  color: #fff;
}
.btn_ses{
  border: 2px solid #1b5e20;
  background-color: #1b5e20;
  color: #fff;
  padding: 10px 40px 10px 40px;
}
.btn_ses:hover{
  border: 2px solid #248c2b;
  background-color: #248c2b;
  color: #fff;
}
.bg-image-container {
  position: relative;
  background-image: url('https://distritech.com/cdn/shop/articles/Tecnologia-y-Sostenibilidad-1_8284afa8-19d6-4b51-a0cf-fa3e7822d3aa.jpg?v=1723125471'); /* Cambia esta URL por tu imagen */
  background-size: cover;
  background-position: center;
  height: 500px;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.display-4{
  font-size: 50px;
  font-weight: 900;
}   
 
.lead{
  font-size: 20px;
  font-weight: 500;
}

.column-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 200px;
  transition: transform 0.2s ease-in-out;
}
.column-card:hover {
  transform: translateY(-5px);
}
.icon {
  font-size: 48px;
  color: #1b5e20;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .bg-image-container {
      height: 250px; /* Reducimos la altura en pantallas pequeñas */
      background-size: cover; /* Mantenemos que la imagen cubra todo el contenedor */
      background-position: center; /* Aseguramos que la imagen esté centrada */
    }
  
    .overlay-text h1 {
      font-size: 1.5rem; /* Tamaño más pequeño para el título */
    }
  
    .overlay-text p {
      font-size: 1rem; /* Reducimos el tamaño del texto descriptivo */
    }
  
    .overlay-text {
      padding: 0 15px; /* Añadimos espacio lateral para que el texto no toque los bordes */
    }
}
@media (max-width: 414px){
  .row {
      padding: 50px;
    }
}
.column-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-height: 250px; /* Altura mínima */
  transition: transform 0.2s ease-in-out;
}

.column-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 48px;
  color: #1b5e20;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .column-card {
    min-height: 300px; /* Mayor altura en pantallas pequeñas */
  }
}
.green-body{
  background-color: #1b5e20;
  color: #fff;
  padding: 50px 50px 50px 50px;
}
.txgreen-body{
  font-size: 15px!important;
  color: #fff!important;
}
.card-body{
  height: 280px;
  padding: 20;
  padding: 50px 50px 50px 50px;
}
.iconos{
  margin-top: -120px!important;
  z-index: 30!important;
  position: relative;
}

.statistics .card {
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.statistics .card:hover {
  transform: translateY(-5px);
}

.statistics h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}

.statistics .card-text {
  font-size: 12px;
  color: #666;
}

.statistics .fs-1 {
  font-size: 3rem;
  font-weight: bold;
}
.card-body a{
  color: #1b5e20!important;
}
.text-success{
  color: #ffffff!important; 

}
.text-warning{
  color: #1b5e20!important; 
}
.text-info{
  color: #1b5e20!important;
}
  
.text-stats{
  font-size: 23px!important;
  margin-top: 50px!important;
}
.bg-image-section{
  height: auto; 
  margin: auto;
  text-align: center;
  padding-top: 8%;
  margin-top: -100px;
  background-image: linear-gradient(rgba(14, 38, 14, 0.5), rgba(0, 0, 0, 0.5)), 
  url("https://es.directoamiarmario.com/wp-content/uploads/2020/02/felicidad-1280x640.jpg");
  background-size: cover;
  background-position: center;
}
.bg-image-section h1{
  color: #ffffff;
}
h2{
  color: #1b5e20;
  font-size: 1.9rem!important;
  font-weight: 900!important;
}
.bg-image-section p{
  color: #ffffff;
  padding: 30px 150px 50px 150px;
  padding-top: 0%;
}
.section-items{
  padding: 50px 50px 50px 50px;
}
.title_items{
  font-size: 35px;
  font-weight: 700;
}
.items h4{
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 768px){
  .overlay-text h1{
   font-size: 16px;
   margin-top: -70px;  
   padding: 0px 0px 0px 0px; 
  }

  .bg-image-section{
      padding: 10px 10px 10px 10px;
  }
  .bg-image-section h1{
      font-size: 15px;
      padding: 10px 10px 10px 10px;
  }
  .bg-image-section p{
      font-size: 12px;
      padding: 10px 10px 10px 10px;
  }
}
.mockup img{
  width: 40%;
  margin-left: 30%;
}